; Asterisk PJSIP Configuration for Brastel

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0

[brastel-auth]
type=auth
auth_type=userpass
username=${BRASTEL_SIP_USERNAME}
password=${BRASTEL_SIP_PASSWORD}

[brastel-aor]
type=aor
contact=sip:${BRASTEL_SIP_SERVER}
qualify_frequency=15

[global]
type=global
default_outbound_endpoint=brastel-endpoint

[anonymous]
type=endpoint
context=from-brastel
; RFC4733(RFC2833)がSDPで合意できればそれを使い、無ければ音声内(inband)のDTMFを検出する
dtmf_mode=auto
disallow=all
allow=ulaw
allow=alaw

[brastel-endpoint]
type=endpoint
transport=transport-udp
dtmf_mode=auto
aors=brastel-aor
outbound_auth=brastel-auth
context=from-brastel
disallow=all
allow=ulaw
allow=alaw
rewrite_contact=yes
rtp_symmetric=yes
force_rport=yes
direct_media=no

[brastel-reg]
type=registration
transport=transport-udp
outbound_auth=brastel-auth
server_uri=sip:${BRASTEL_SIP_SERVER}
client_uri=sip:${BRASTEL_SIP_USERNAME}@${BRASTEL_SIP_SERVER}
retry_interval=60
expiration=3600

; ---------------------------------------------------------------------------
; Cloudflare RealtimeKit (内線の通話先)。Dial(PJSIP/<meeting_id>@realtimekit) で
; sip:<meeting_id>@${REALTIMEKIT_SIP_HOST} に発信する。認証情報は RealtimeKit の Developer Portal で発行。
; ---------------------------------------------------------------------------
[realtimekit-auth]
type=auth
auth_type=userpass
username=${REALTIMEKIT_SIP_USERNAME}
password=${REALTIMEKIT_SIP_PASSWORD}

[realtimekit-aor]
type=aor
contact=sip:${REALTIMEKIT_SIP_HOST}

[realtimekit]
type=endpoint
transport=transport-udp
aors=realtimekit-aor
outbound_auth=realtimekit-auth
from_user=${REALTIMEKIT_SIP_USERNAME}
context=from-realtimekit
dtmf_mode=auto
disallow=all
allow=ulaw
allow=alaw
rewrite_contact=yes
rtp_symmetric=yes
force_rport=yes
direct_media=no
