; Asterisk PJSIP Configuration for Brastel

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0

[brastel-auth]
type=auth
auth_type=userpass
username=${BRASTEL_SIP_USERNAME}
password=${BRASTEL_SIP_PASSWORD}

[brastel-aor]
type=aor
contact=sip:${BRASTEL_SIP_SERVER}
qualify_frequency=15

[global]
type=global
default_outbound_endpoint=brastel-endpoint

[anonymous]
type=endpoint
context=from-brastel
disallow=all
allow=ulaw
allow=alaw

[brastel-endpoint]
type=endpoint
transport=transport-udp
aors=brastel-aor
outbound_auth=brastel-auth
context=from-brastel
disallow=all
allow=ulaw
allow=alaw
rewrite_contact=yes
rtp_symmetric=yes
force_rport=yes
direct_media=no

[brastel-reg]
type=registration
transport=transport-udp
outbound_auth=brastel-auth
server_uri=sip:${BRASTEL_SIP_SERVER}
client_uri=sip:${BRASTEL_SIP_USERNAME}@${BRASTEL_SIP_SERVER}
retry_interval=60
expiration=3600
